<div class="movie-info-container" *ngIf="movie">
    <div *ngIf="show">
    <div class="alert alert-danger" *ngIf="error" style="margin-top: 10px;">
        Filmo statusas neatnaujintas.
      </div>
      <div class="alert alert-success" *ngIf="success" style="margin-top: 10px;">
        Filmo statusas sėkmingai pakeistas.
      </div>
      <div class="alert alert-danger" *ngIf="errorComment" style="margin-top: 10px;">
        Komentaras nebuvo pridėtas.
      </div>
      <div class="alert alert-success" *ngIf="successComment" style="margin-top: 10px;">
        Komentaras sėkmingai pridėtas.
      </div>
      <div class="alert alert-success" *ngIf="errorDelete" style="margin-top: 10px;">
        Klaida bandant ištrinti filmą iš sąrašo.
      </div>
    </div>
  <div class="movie-detail-container">
    <div class="movie-cover">
      <img src="{{movie.poster}}" alt="">
    </div>
    <div class="movie-detail">
      <h2>{{movie.title}}</h2>
      <div class="short-info">
        <div class="rate"><span>Įvertinimas: <strong>{{movie.imdbRating}}</strong></span></div>
        <div class="duration"><span>Trukmė: <strong>{{movie.runtime}}</strong></span></div>
        <div class="genres">
          <span>Žanrai: <strong>{{movie.genre}}</strong></span>
        </div>
      </div>
      <p class="desc">
        {{movie.plot}}
      </p>

      <button class="btn btn-outline-secondary" type="button" (click)="deleteMovie()">Ištrinti filmą iš sąrašo</button>
      <br>
      <select class="form-select" [(ngModel)]="selectedStatus" [(ngModel)]="movie.movieStatus" style="margin-top: 10px;">
        <option value="NO_STATUS">Be statuso</option>
        <option value="IN_PROGRESS">Žiūrimas dabar</option>
        <option value="FINISHED">Peržiūrėtas</option>
      </select>
      <br>
      <button class="btn btn-outline-secondary" type="button" (click)="saveStatus()" style="margin-top: 10px;">Išsaugoti statusą</button>
    </div>

  </div>

    
  <div>
    <div class="messages">
      <h4>Komentarai</h4>
      <div class="message" *ngFor="let comment of userComments">
        <div class="pic">
          <img src="/assets/icons/eye.svg" alt="">
        </div>
        <div class="message-text">
          <span class="name">{{comment.name}}</span>
          <span class="date">{{comment.date | date:'YYYY-MM-dd'}}</span>
          <p class="comment">{{comment.comment}}</p>
        </div>
      </div>
    </div>

    <div class="comment-area">
        <div class="input-area">
          <form name="messageForm">
            <div>
              <textarea type="text" placeholder="Tavo komentaras" name="message" id="message" rows="5" [(ngModel)]="commentText"></textarea>
            </div>
            <button class="btn btn-outline-secondary" type="button" (click)="saveComment()">Išsaugoti komentarą</button>
          </form>
        </div>
    </div>
  </div>
</div>
