<div class="search-bar">
  <img src="assets/icons/search.svg" alt="search icon" />
  <input
    [(ngModel)]="searchText"
    name="searchText"
    type="search"
    placeholder="Paieška"
    aria-label="Search"
  />
  <button
    class="btn btn-outline-secondary"
    type="button"
    (click)="searchForMovies()"
  >
    Ieškoti
  </button>
</div>
<div class="main-container">
  <div *ngIf="show" class="movies-container">
    <hr />
    <div class="movies-list">
      <div *ngFor="let movie of searchMovies" class="movie">
        <a [routerLink]="['/movies/' + movie.imdbID]">
          <figure>
            <img src="{{ movie.Poster }}" alt="" />
          </figure>
          <span class="title">{{ movie.Title }}</span>
          <span class="rate">{{ movie.Year }}</span>
          <hr />
        </a>
      </div>
    </div>
  </div>
</div>
