<div class="movie-info-container" *ngIf="movie">
  <div class="movie-detail-container">
    <div class="movie-cover">
      <img src="{{ movie.Poster }}" alt="" />
    </div>
    <div class="movie-detail">
      <h2>{{ movie.Title }}</h2>
      <div class="short-info">
        <div class="rate">
          <span
            >Įvertinimas: <strong>{{ rating | number : '1.2-2'}}</strong></span
          >
        </div>
        <div class="duration">
          <span
            >Trukmė: <strong>{{ movie.Runtime }}</strong></span
          >
        </div>
        <div class="genres">
          <span
            >Žanrai: <strong>{{ movie.Genre }}</strong></span
          >
        </div>
      </div>
      <p class="desc">
        {{ movie.Plot }}
      </p>
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="saveMovie()"
      >
        Pridėti prie mėgstamiausių
      </button>
      <br>
      <button
      class="btn btn-outline-secondary"
      type="button"
      style="margin-top:10px;"
      (click)="openRecommendation(recommendation, movie)"
    >
      Pridėti rekomendaciją
    </button>
    </div>
  </div>

  <div class="messages" style="">
    <div class="container" *ngIf="showRecommendationList" style="padding: 50px">
      <div class="row">
        <div class="col-6">
          <h3 class="mb-3">Rekomendacijos</h3>
        </div>
        <div class="col-6 text-right">
          <a
            class="btn btn-primary mb-3 mr-1"
            href="#carouselExampleIndicators1"
            role="button"
            data-slide="prev"
          >
            <i class="fa fa-arrow-left"></i>
          </a>
          <a
            class="btn btn-primary mb-3"
            href="#carouselExampleIndicators1"
            role="button"
            data-slide="next"
          >
            <i class="fa fa-arrow-right"></i>
          </a>
        </div>
        <div class="col-12">
          <div
            id="carouselExampleIndicators1"
            class="carousel slide"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div
                class="carousel-item active"
                *ngFor="
                  let recommendation of recommendationList;
                  let index = index;
                  let isFirst = first
                "
                [ngClass]="{ active: isFirst }"
              >
                <div class="row">
                  <div class="short-info" style="margin: auto">
                    <div class="card" style="max-width: 400px;">
                      <a (click)="navigate(recommendation.passedImdbId)" style="color: black; cursor: pointer;">
                        <img
                          class="img-fluid"
                          alt="100%x280"
                          src="{{ recommendation.poster }}"
                        />
                        <div class="card-body">
                          <h4 class="card-title" style="color: black">
                            {{ recommendation.title }}
                          </h4>
                          <p class="card-title" style="color: black">
                            Autorius: {{ recommendation.name }}
                          </p>
                            <p class="card-text" style="color: black; word-wrap: break-word;">
                              {{ recommendation.recommendationText }}
                            </p>
                        </div>
                      </a>
                      <button
                      class="btn btn-outline-secondary"
                      type="button"
                      style="margin:15px;"
                      *ngIf="isAdmin || recommendation.name === currentUser.username"
                      (click)="openRecommendationDelete(recommendationDelete, recommendation)"
                    >
                      Ištrinti rekomendaciją
                    </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="messages">
      <h4>Komentarai</h4>
      <div class="message" *ngFor="let comment of userComments">
        <div class="pic">
          <img src="/assets/icons/eye.svg" alt="" />
        </div>
        <div class="message-text">
          <span class="name">{{ comment.name }}</span>
          <span class="date">{{ comment.date | date: "YYYY-MM-dd" }}</span>
          <a
            href="javascript:void(0);"
            style="color: black"
            *ngIf="isAdmin || comment.name === currentUser.username"
            (click)="open(content, comment)"
          >
            <i class="fa fa-remove removeComment" aria-hidden="true"></i>
          </a>
          <p class="comment">{{ comment.comment }}</p>
        </div>
      </div>
    </div>

    <div class="comment-area">
      <div class="input-area">
        <form
          name="form"
          (ngSubmit)="f.form.valid && saveComment()"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <textarea
              type="text"
              placeholder="Tavo komentaras"
              name="message"
              id="message"
              rows="5"
              [(ngModel)]="commentText"
              required
              minlength="6"
              maxlength="50"
              #text="ngModel"
            ></textarea>
            <div *ngIf="text.errors && f.submitted" class="alert alert-danger">
              <div *ngIf="text.errors.required">Komentaras yra privalomas.</div>
              <div *ngIf="text.errors.minlength">
                Komentaras turi būti bent 6 simbolių ilgio.
              </div>
            </div>
          </div>
          <button class="form-group" class="btn btn-outline-secondary">
            Išsaugoti komentarą
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Trinti komentarą</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Ar tikrai norite ištrinti komentarą: {{ modalContent.comment }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">
      Uždaryti
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="deleteComment(modalContent.id)"
    >
      Ištrinti komentarą
    </button>
  </div>
</ng-template>

<ng-template #recommendation let-recommendation>
  <div class="modal-header">
    <h4 class="modal-title" id="recommendationTitle">Palikti rekomendaciją</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="recommendation.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Pasirinkite filmą kurį rekomenduosite:
    <div class="" *ngIf="showRecommendation" style="max-height:400px; overflow-y: scroll; margin-top:10px;">
      <div class="" *ngFor="let movie of moiveList;let i=index;">
        <figure>
          <img src="{{ movie.poster }}" alt="" class="movies-list-img"/>
        </figure>
        <span class="title">{{ movie.title }}</span>
        <br>
        <span class="rate">{{ movie.year }}</span>
        <br>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="recommendationCheck{{i}}" [(ngModel)]="checkboxes[i]" (click)="onCheckboxChange($event, movie)">
          <label class="form-check-label" for="recommendationCheck{{i}}">Pasirinkti šį filmą</label>
        </div>
        <hr/>
      </div>
    </div>
    <br>
    Palikite rekomendacijos tekstą:
    <br>
    <textarea
    type="text"
    placeholder="Rekomendacijos tekstas"
    class="recommendation-text"
    #recommendationText
  ></textarea>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="recommendation.dismiss()">
      Uždaryti
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="saveRecommendation(recommendationText.value)"
    >
      Palikti rekomendaciją
    </button>
  </div>
</ng-template>

<ng-template #recommendationDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="recommendationDeleteTitle">Trinti rekomendaciją</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Ar tikrai norite ištrinti rekomendaciją filmui: <strong>{{ recommendationDeleteContent.title }}</strong>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">
      Uždaryti
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="deleteRecommendation(recommendationDeleteContent.id)"
    >
      Ištrinti rekomendaciją
    </button>
  </div>
</ng-template>
