<div class="movie-info-container" *ngIf="movie">
  <div class="movie-detail-container">
    <div class="movie-cover">
      <img src="{{ movie.Poster }}" alt="" />
    </div>
    <div class="movie-detail">
      <h2>{{ movie.Title }}</h2>
      <div class="short-info">
        <div class="rate">
          <span
            >Įvertinimas: <strong>{{ rating }}</strong></span
          >
        </div>
        <div class="duration">
          <span
            >Trukmė: <strong>{{ movie.Runtime }}</strong></span
          >
        </div>
        <div class="genres">
          <span
            >Žanrai: <strong>{{ movie.Genre }}</strong></span
          >
        </div>
      </div>
      <p class="desc">
        {{ movie.Plot }}
      </p>
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="saveMovie()"
      >
        Pridėti prie mėgstamiausių
      </button>
    </div>
  </div>

  <div>
    <div class="messages">
      <h4>Komentarai</h4>
      <div class="message" *ngFor="let comment of userComments">
        <div class="pic">
          <img src="/assets/icons/eye.svg" alt="" />
        </div>
        <div class="message-text">
          <span class="name">{{ comment.name }}</span>
          <span class="date">{{ comment.date | date: "YYYY-MM-dd" }}</span>
          <a
            href="javascript:void(0);"
            style="color: black"
            *ngIf="isAdmin || comment.name === currentUser.username"
            (click)="open(content, comment)"
          >
            <i class="fa fa-remove removeComment" aria-hidden="true"></i>
          </a>
          <p class="comment">{{ comment.comment }}</p>
        </div>
      </div>
    </div>

    <div class="comment-area">
      <div class="input-area">
        <form
          name="form"
          (ngSubmit)="f.form.valid && saveComment()"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <textarea
              type="text"
              placeholder="Tavo komentaras"
              name="message"
              id="message"
              rows="5"
              [(ngModel)]="commentText"
              required
              minlength="6"
              maxlength="50"
              #text="ngModel"
            ></textarea>
            <div *ngIf="text.errors && f.submitted" class="alert alert-danger">
              <div *ngIf="text.errors.required">Komentaras yra privalomas.</div>
              <div *ngIf="text.errors.minlength">
                Komentaras turi būti bent 6 simbolių ilgio.
              </div>
            </div>
          </div>
          <button class="form-group" class="btn btn-outline-secondary">
            Išsaugoti komentarą
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Trinti komentarą</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Ar tikrai norite ištrinti komentarą: {{ modalContent.comment }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">
      Uždaryti
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="deleteComment(modalContent.id)"
    >
      Ištrinti komentarą
    </button>
  </div>
</ng-template>
