<div class="form-group">
  <div
    class="alert alert-danger"
    role="alert"
    *ngIf="!finishedMovies && !progressMovies"
  >
    Filmų nerasta
  </div>
</div>
<div class="container" *ngIf="showFinished" style="padding: 50px">
  <div class="row">
    <div class="col-6">
      <h3 class="mb-3">Pabaigti filmai</h3>
    </div>
    <div class="col-6 text-right">
      <a
        class="btn btn-primary mb-3 mr-1"
        href="#carouselExampleIndicators1"
        role="button"
        data-slide="prev"
      >
        <i class="fa fa-arrow-left"></i>
      </a>
      <a
        class="btn btn-primary mb-3"
        href="#carouselExampleIndicators1"
        role="button"
        data-slide="next"
      >
        <i class="fa fa-arrow-right"></i>
      </a>
    </div>
    <div class="col-12">
      <div
        id="carouselExampleIndicators1"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div
            class="carousel-item active"
            *ngFor="
              let finished of finishedMovies;
              let index = index;
              let isFirst = first
            "
            [ngClass]="{ active: isFirst }"
          >
            <div class="row">
              <div class="col-md-4 mb-3" style="margin: auto">
                <div class="card">
                  <a [routerLink]="['/mymovies/' + finished.id]">
                    <img
                      class="img-fluid"
                      alt="100%x280"
                      src="{{ finished.poster }}"
                    />
                    <div class="card-body">
                      <h4 class="card-title" style="color: black">
                        {{ finished.title }}
                      </h4>
                      <p class="card-text" style="color: black">
                        {{ finished.year }}
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="showProgress" style="padding: 50px">
  <div class="row">
    <div class="col-6">
      <h3 class="mb-3">Žiūrimi filmai</h3>
    </div>
    <div class="col-6 text-right">
      <a
        class="btn btn-primary mb-3 mr-1"
        href="#carouselExampleIndicators2"
        role="button"
        data-slide="prev"
      >
        <i class="fa fa-arrow-left"></i>
      </a>
      <a
        class="btn btn-primary mb-3"
        href="#carouselExampleIndicators2"
        role="button"
        data-slide="next"
      >
        <i class="fa fa-arrow-right"></i>
      </a>
    </div>
    <div class="col-12">
      <div
        id="carouselExampleIndicators2"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div
            class="carousel-item active"
            *ngFor="
              let progress of progressMovies;
              let index = index;
              let isFirst = first
            "
            [ngClass]="{ active: isFirst }"
          >
            <div class="row">
              <div class="col-md-4 mb-3" style="margin: auto">
                <div class="card">
                  <a [routerLink]="['/mymovies/' + progress.id]">
                    <img
                      class="img-fluid"
                      alt="100%x280"
                      src="{{ progress.poster }}"
                    />
                    <div class="card-body">
                      <h4 class="card-title" style="color: black">
                        {{ progress.title }}
                      </h4>
                      <p class="card-text" style="color: black">
                        {{ progress.year }}
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
